body{
  display: flex;
  align-items: center;
  justify-content: center;

}

.bg{
  width: 75vw;
  height: 25vh;
  padding: 3vh;
  font-size: 3vh;
  text-align: center;
  background-color: grey;
}

.result{
  text-align: center;
  font-weight: bold;
}
